### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### OS X Files ###
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~

### Go Specific ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### ignore package ###
/bin
src/github.com/acroca
src/github.com/golang
src/github.com/nsf
src/github.com/ramya-rao-a
src/github.com/rogpeppe
src/github.com/sqs
src/github.com/stretchr
src/github.com/uudashr
src/golang.org
src/sourcegraph.com
src/github.com/MichaelTJones
src/github.com/solly0702/go_fib_gen_api/go_fib_gen_api